.anim-container {
  background: linear-gradient(#00142d, #222);
  position: relative;
  overflow: hidden;
}

.anim-foreground,
.anim-middleground,
.anim-background,
.anim-container {
  width: 2400px;
  height: 350px;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}

@media (min-width: 1200px) {
  .anim-foreground,
  .anim-middleground,
  .anim-background,
  .anim-container {
    width: 200%;
  }
}

.anim-container {
  width: 100%;
}

.anim-figure {
  background: url('./charset-everbot.png') no-repeat;
  width: 63px;
  height: 105px;
  animation: walk 1s steps(8) infinite;
  backface-visibility: hidden;
  perspective: 1000;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.anim-flying-potato {
  background: url('./charset-flying-potato.png') no-repeat;
  width: 267px;
  height: 297px;
  animation: fly 1s steps(9) infinite;
  backface-visibility: hidden;
  perspective: 1000;
  position: absolute;
  bottom: 20%;
  right: 30%;
  transform: scale(.3);
}

.anim-foreground {
  background: url('./foreground.svg');
  animation: move-bg 7s -5s linear infinite;
}

.anim-middleground {
  background: url('./middleground.svg');
  animation: move-bg 15s -5s linear infinite;
}

.anim-background {
  background: url('./background.svg');
  animation: move-bg 20s -5s linear infinite;
}

.anim-foreground,
.anim-middleground,
.anim-background {
  transform: translateZ(0);
  position: absolute;
}

@keyframes walk {
  100% {
    background-position: -504px 0;
  }
}
@keyframes fly {
  100% {
    background-position: -2403px 0;
  }
}
@keyframes move-bg {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-1200px);
  }
}
